# Homework 1

## Set up the environment

## You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from 06-environment.md.

### importing the libraries required

In [7]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sn


Question 1

What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

pd.__version__
Getting the data

In [116]:
pd.__version__

'1.4.2'

For this homework, we'll use the California Housing Prices dataset. Download it from here.

You can do it with wget:

wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [16]:
data =  pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 2

How many columns are in the dataset?

### ans = 10
6560
10989
20640

In [24]:
print(f"The number of columns in the dataset is {len(data.columns)}")

The number of columns in the dataset is 10

Question 3

Which columns in the dataset have missing values?


total_rooms

### ans= total_bedrooms

both of the above

no empty columns in the dataset

In [53]:

# Check for columns with missing values in the DataFrame and return them and convert to list to change from d-object to list
missing_columns = data.columns[data.isnull().any()].tolist()
print(data.isnull().any(), '\n')

# Print the column(s) with missing values
print(f"The column(s) of the dataset with missing values is: {missing_columns}")

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms         True
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

The column(s) of the dataset with missing values is: ['total_bedrooms']

In [44]:
data.columns[data.isnull().any()].to_list()

['total_bedrooms']

Question 4

How many unique values does the ocean_proximity column have?

3

### ans= 5

7

9

In [55]:
data["ocean_proximity"].nunique()

5

Question 5

What's the average value of the median_house_value for the houses located near the bay?


49433

124805

### ans = 259212

380440

In [69]:
data[data["ocean_proximity"]== "NEAR BAY"]["median_house_value"].mean()

259212.31179039303

Question 6

Calculate the average of total_bedrooms column in the dataset.
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calculate the average of total_bedrooms again.
Has it changed?
Has it changed?

Hint: take into account only 3 digits after the decimal point.

### ans= Yes

No

In [93]:
total_bedrooms_mean= round(data["total_bedrooms"].mean(),3)

filled_total_bedrooms= data["total_bedrooms"].fillna(total_bedrooms_mean)
filled_total_bedrooms_mean= round(filled_total_bedrooms.mean(), 3)

print(total_bedrooms_mean, '\n')

print(filled_total_bedrooms_mean)

total_bedrooms_mean == filled_total_bedrooms_mean

# Checking  if the two variables are equal
#result = total_bedrooms_mean == filled_total_bedrooms_mean
#result

537.871

537.871

True

In [77]:
print(total_bedrooms_mean)
print('/n')
print(filled_total_bedrooms_mean)

False


Question 7

Select all the options located on islands.

Select only columns housing_median_age, total_rooms, total_bedrooms.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [950, 1300, 800, 1000, 1300].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

What's the value of the last element of w?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

-1.4812
0.001
### ans= 5.6992
23.1233

In [113]:
# Select all the options located on islands& Select only columns housing_median_age, total_rooms, total_bedrooms.
data2= data[data["ocean_proximity"]=="ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]]

#Get the underlying NumPy array. Let's call it X.
X= data2.to_numpy()

#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX= X.T.dot(X)

#Compute the inverse of XTX.
from numpy.linalg import inv
inverse_XTX = inv(XTX)

# Create an array y with values [950, 1300, 800, 1000, 1300].
Y= np.array([950, 1300, 800, 1000, 1300])

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w. this w is the model 
w= inverse_XTX.dot(X.T).dot(Y)

print(w)

[23.12330961 -1.48124183  5.69922946]

Submit the results

Submit your results here: https://forms.gle/jneGM91mzDZ23i8HA
You can submit your solution multiple times. In this case, only the last submission will be used
If your answer doesn't match options exactly, select the closest one
Deadline

The deadline for submitting is 18 September 2022 (Monday), 23:00 CEST (Berlin time).

After that, the form will be closed.

In [102]:
# saving the data as a csv file to my week one folder in datatalks-club
df= pd.DataFrame(data)

df.to_csv('/Users/shegeb/Documents/DATATALKS.CLUB/machine-learning-zoomcamp-master/01-intro/data.csv', index=False)